server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:blog_db}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: shadan@07
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: false

app:
  jwt:
    secret: ${JWT_SECRET:change-me-please-change-me-change-me-please}
    expiration-ms: ${JWT_EXPIRATION_MS:86400000}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
